<nav>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Home", "Form", "Home")</li>
            <li>@Html.ActionLink("Usuario", "Form", "Usuario")</li>
            <li>@Html.ActionLink("Movimentacoes","Form","Movimentacao")</li>
        </ul> 
    </div>
</nav>